<section class="here-is-what-you-get">
<div class="sections-here-is">
        <div class="here-is-right-block-text">    
            <h4 class="h3-here-is-what-you-get">Here is what you get</h4>
        </div>
        <div class="here-is-right-block-image">
        </div>
    <div class="here-is-left-block">
        <div class="here-is-left-block__box"> <img src="./img/here-is-what-u-get/img-4.png" alt="img1">
            <div class="here-is-left-block__content">
                <h3 class="here-is-left-block__heading">Creatred to Make The Web Better</h3>
                <p class="here-is-left-block__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
            </div>
                </div>
        <div class="here-is-left-block__box"> <img src="./img/here-is-what-u-get/img-3.png" alt="img2">
            <div class="here-is-left-block__content">
                <h3 class="here-is-left-block__heading">Incredibly Powerful Tool</h3>
                <p class="here-is-left-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
                </div>
        <div class="here-is-left-block__box"> <img src="./img/here-is-what-u-get/img-2.png" alt="img3">
            <div class="here-is-left-block__content">
                <h3 class="here-is-left-block__heading">Experimental Stuff</h3>
                <p class="here-is-left-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
                </div>
        <div class="here-is-left-block__box"> <img src="./img/here-is-what-u-get/img-5.png" alt="img4">
            <div class="here-is-left-block__content"> 
                <h3 class="here-is-left-block__heading">Creatred to Make The Web Better</h3>
                <p class="here-is-left-block__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
        </div>
    </div>

</section>