<section class="fork-subscription-pricing-section">
    <h4 class="section-title margin">Fork Subscription Pricing</h4>
        <div class="prices-container">
            <div class="prices-container__packages">
                <ul>
                    <li class="prices-container__head">Students</li>
                    <li class="prices-container__price"><span class="dollarSign">$</span>29</li>
                    <li class="prices-container__perMonth">per month</li>
                    <li class="prices-container__options">Personal License </li>
                    <li><button class="prices-container__purchaseBtn plusMargin">purchase</button></li>
                </ul>
            </div>

            <div class="prices-container__packages">
                <ul>
                    <li class="prices-container__head">professional</li>
                    <li class="prices-container__price"><span class="dollarSign">$</span>59</li>
                    <li class="prices-container__perMonth">per month</li>
                    <li class="prices-container__options">Professional License <br> Email Support</li>
                    <li><button class="prices-container__purchaseBtn">purchase</button></li>
                </ul>
            </div>

            <div class="prices-container__choosed">
                <ul>
                    <li class="prices-container__choosed__head">agency</li>
                    <li class="prices-container__choosed__price"><span class="dollarSign">&#36;</span>99</li>
                    <li class="prices-container__perMonth">per month</li>
                    <li class="prices-container__options">1-12 Team Members <br> Phone Support</li>
                    <li><button class="prices-container__choosed__purchaseBtn">purchase</button></li>
                </ul>
            </div>

            <div class="prices-container__packages">
                <ul>
                    <li class="prices-container__head">enterprise</li>
                    <li class="prices-container__price"><span class="dollarSign">$</span>159</li>
                    <li class="prices-container__perMonth">per month</li>
                    <li class="prices-container__options">Unlimited Team Members <br> 24/ 7 Phone Support</li>
                    <li><button class="prices-container__purchaseBtn">purchase</button></li>
                </ul>
            </div>
        </div>


</section>