<section class="talking-section">
    <div class="content-container content-container__flex">
        <h2 class="section-title">People Are Talking About Fork</h2>
        <div class="brands-container">
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/smashing-magazine-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                    Sed varius urna et pulvinar venenatis.
                </p>
            </div>
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/codrops-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    Donec euismod dolor ut ultricies consequat.
                    Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
                </p>
            </div>
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/w-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
                    Morbi tempus auctor felis ac vehicula.
                </p>
            </div>
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/pixel-buddha-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                    Sed varius urna et pulvinar venenatis.
                </p>
            </div>
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/creative-bloq-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
                    Nulla faucibus lorem id arcu consequat faucibus.
                </p>
            </div>
            <div class="brand-item">
                <div class="brand-item__img-container">
                    <img class="brand-item__img" src="./img/people-are-talking/ntw-logo.png" alt="brand">
                </div>
                <p class="brand-item__text">
                    Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                    Pellentesque porttitor cursus massa et vestibulum.
                </p>
            </div>
        </div>
        <p class="talking-section__footer-text">
            Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh.
            Donec eget elit eu libero tincidunt consequat nec elementum orci.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <div class="talking-section__line"></div>
    </div>
</section>