.revolutionary-editor-section-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -23px;

    &__download {
        color: $button-text-color;
        background-color: $button-back-color;
        position: relative;
        @include ff-Monts(700);
        text-align: center;
        border-radius: 40px;
        font-size: 18px;
        width: 280px;
        height: 45px;
            &:hover {
                border: 2px solid #8D81AC;
                color: $button-text-color-hover;
                background-color: $button-back-color-hover;
            }

        @media (min-width: 481px) {
            font-size: 21px;        
            width: 390px;
            height: 62px;
        }
    }
}

%icons-parameters {
    float: left;
    position: relative;
    font-size: 12px;
    border: 1px solid grey;
    line-height: 20px;
    vertical-align: middle;
}

.revolutionary-editor-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .rev-edit-content {
        &_text-unlim-30 {   
            font-family: $font-primary;
            color: $color-text-content;
            font-weight: 400;
            font-size:  14px;
            padding-top: 19px;
        }
        &_text-h3 {
            padding-top: 80px;
            text-transform: uppercase;
            @include ff-Monts(700);
            color: #635C73;
            font-size: 26px;
            line-height: 28px;
        } 
        &_text-content {
            margin: 0 auto;
            padding-top: 35px;
            font-size: 14px;
            line-height: 20px;
            color: $text-content-color;
            font-family: $font-secondary;
            font-weight: 400;
            width: 276px;
        }
}   

@media screen and (min-width: 481px) {
    .rev-edit-content {
        padding-top: 93px;
        max-width: 689px;
        margin: 0 auto;
    }

    .rev-edit-content_text-h3 {
        font-size: 42px;
        line-height: 42px;
        padding-bottom: 33px;
    }
    .rev-edit-content_text-content {
        font-size: 21px;
        line-height: 32px;
        padding-bottom: 24px;
        width: 90%;
    }
}

@media screen and (min-width: 993px) {
    .rev-edit-content {
        padding-top: 66px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .rev-edit-content_text-h3 {
        font-size: 54px;
        line-height: 54px;
        padding-bottom: 35px;
    }
    .rev-edit-content_text-content {
        padding-bottom: 13px;
        max-width: 1200px;
    }
}

.rev-editor-btns {
    display: flex;
    justify-content: center;
    padding: 25px 0 70px 0;
    max-width: 500px;
    height: 25px;
    margin:  0 auto;
        @media (max-width: 320px) {
            width: 250px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 120px;
            .last-el-btn {
                margin-top: 20px;
            }
        }

        &__counter {
            padding: 1px 7px;
            font-weight: 700;
            @extend %icons-parameters;
            border-left: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            margin-right: 15px;
        }
         &__counter:last-child {
             margin-right: 0;
        }
}

.octicon {
    vertical-align: text-bottom;
}

.rev-editor-btns button {
    float: left;
    font-size: 11px;
    border-right: 1px solid grey;
}

.rev-editor-btns-btn {
    @extend %icons-parameters;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: -3px 10px;
    white-space: nowrap;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &:hover {
        fill: #8D81AC;
    }
}