.talking-section{
    background-color: $background-color-talk;
    background-image: url(../img/people-are-talking/background-talk-about-section.png);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 57px;

    @media(min-width: 481px){
        padding-top: 85px;
    }
    @media(min-width: 993px){
        padding-top: 108px;
    }

    &__footer-text{
        font-size: 14px;
        font-family: $font-secondary;
        font-weight: 400;
        line-height: 21px;
        color: $color-footer-text;
        text-align: center;
        margin: 38px 25px 0 25px;
        max-width: 995px;

        @media(min-width: 481px){
            margin-top: 68px;
        }

        @media(min-width: 993px){
            margin-top: 120px;
        }
    }

    &__line{
        width: 85%;
        height: 2px;
        background-color:$background-color-line;
        margin-top: 20px;

        @media(min-width: 481px){
            max-width: 70%;
        }

        @media(min-width: 993px){
            max-width: 780px;
        }
    }
}

.brands-container{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-gap: 45px;
    margin-top: 50px;

    @media(min-width: 481px){
        grid-template-columns: repeat(2, minmax(20px ,450px));
        grid-template-rows: repeat(3, auto);
        column-gap: 5%;
    }

    @media(min-width: 993px){
        grid-template-columns: repeat(3, minmax(20px ,450px));
        grid-template-rows: repeat(2, auto);
        column-gap: 5%;
    }
}

.brand-item{
    text-align: center;
    margin: 0 15px 0 15px;
 
    &__text{
        margin-top: 15px;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        font-style: italic;
        color: $color-text;
    }

    &__img-container{
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}