.here-is-what-you-get {
    height: 1500px;
    background: #F4F4F4;
    justify-content: center;
    display: flex;
}

.sections-here-is {
    background-color: #fff;
    // padding: 0 15px 0 15px;
    max-width: 1170px;
    @include grid(repeat(auto-fill, [col-start] 1fr), unset);
    grid-template-rows: repeat(3, 140px 411px);
}

.sections-here-is > * {
    max-width: 700px;
    grid-column: col-start 1 / span 2;
}

.here-is-right-block-image {
    background-image: url('../img/here-is-what-u-get/img-1.png');
    grid-row: 5/ span 2;
    grid-column: 1;
    // margin-top: -220px;
    background-repeat: no-repeat;
    background-size: contain;
}



.here-is-right-block-text {
    font-size: 42px;
    padding-top: 63px;
    grid-column: 1;
    grid-row: 1;
    @include grid (auto, 0px);
}


.h3-here-is-what-you-get {
    @include ff-Monts(700);
    color: #8D81AC;
    padding-left: 20px;
        &::after {
            content: '\003E'
        }
        &::before {
            content: '\003C';
        }
}





.here-is-left-block {
    max-width: 768px;
    padding-top: 40px;
    grid-column: 1 / 2;
    grid-row: 2;
    padding-right: 40px;
        &__box {
            @include grid((111px auto), 23px);
            padding-top: 23px;
        }
        &__content {
            @include ff-Monts(400);
            line-height: 34px;
        }
        &__heading {
            @include fzFwLh(16px, unset, 34px);
           color: $text-content-color;
        }
        &__text {
            @include fzFwLh(14px, unset, 21px);
            color: $color-text-content;
            padding-top: 16px;
        }
}



@media (max-width: 320px) {
    .h3-here-is-what-you-get {
        @include fzFwLh (32px, 700, 38px);
        padding-left: 0;
        max-width: 230px;
    }
    .here-is-what-you-get {
        background-color: inherit;
        height: 1630px;
    }
    .here-is-right-block-text {
        // grid-column: 1;
        margin: 0 auto;
        grid-row: 1;
        text-align: center;
        max-width: 230px;
    }
    .sections-here-is {
        grid-template-columns: 300px;
        max-width: 320px;
        display: grid;
    }
    .here-is-left-block {
        text-align: center;
        justify-content: center;
        align-items: center;
        @include gridColRow(1, 2);
        padding: 0;
        margin: 0 auto;
            &__box {
                padding-top: 40px;
                grid-template-rows: repeat(400px);
                grid-template-columns: (270px);
            } &__box img {
                margin: 0 auto;
            } &__content {
                font-family: $font-secondary;
                font-weight: 400;
            }
    }
    .here-is-right-block-image {
        display: grid;
        background-size: 317px 380px;
        margin: 0;
        @include gridColRow(1, 6);
        float: right;
        width: 309px;
        height: 350px;
    }
}





@media (min-width: 481px) {
    .here-is-what-you-get {
        background: transparent;
        height: 1200px;
    }
    .h3-here-is-what-you-get {
        @include fzFwLh(44px, 700, 44px);
        padding-left: 0;
    }
    .here-is-right-block-text {
        @include gridColRow(1, 1);
        margin: 0 auto;
        // max-width: 611px;
        padding-left: 0;

    }
    .sections-here-is {
        padding: 0 15px 0 15px;
        justify-content: center;
        max-width: 768px;
        display: grid;
        @include grid(repeat(auto-fill, [col-start] 1fr), unset);
        grid-template-rows: repeat(2, 130px auto);
    }
    .here-is-left-block {
        @include gridColRow(1, 2);
        padding: 0;
        margin: 0 auto;
        padding-top: 36px;
            &__box {
                @include grid((111px, 511px), 23px);
                // grid-template-columns: (111px, auto);
            }
    }
    .here-is-right-block-image {
        // background-size: 622px 511px;
        background-size: contain;
        margin: 0;
        display: grid;
        grid-column: 1;
        grid-row: 3 / span 5;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}





@media (min-width: 993px) {
    .here-is-what-you-get {
        background: #F4F4F4;
        height: 700px;
    }
    .here-is-right-block-text {
        padding-top: 63px;
        grid-row: 1;
        max-width: 768px;
        padding-left: 0;
        grid-column: 2;
        margin: 0;
    }
    
    .sections-here-is > * {
        // grid-column: col-start 1 / span 2;
    }
    .sections-here-is {
        background-color:#F4F4F4;
        max-width: 1170px;
        @include grid(repeat(auto-fill, [col-start] auto), unset);
        grid-template-rows: repeat(2, 130px auto-fill);
    }
    .here-is-right-block-image {
        grid-column: 2;
        // grid-row: 2 / 5;
        grid-row: 3 / span 12;
        margin: 0;
        max-width: 610px;
        background-size: contain;
        @include grid (auto, 19px);
    }
    .h3-here-is-what-you-get {
        font-size: 48px;
        text-align: center;
    }
    .here-is-left-block {
        padding-top: 40px;
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        padding-right: 40px;
            &__box {
                @include grid((111px 390px), 23px);
                padding-top: 23px;
            }
            &__content {
                @include ff-Monts(400);
                line-height: 34px;
            }
            &__heading {
                @include fzFwLh(16px, unset, 34px);
               color: $text-content-color;
            }
            &__text {
                @include fzFwLh(14px, unset, 21px);
                color: $color-text-content;
                padding-top: 16px;
            }
    }
   
}






// @media (max-width: 768px) {
//     .here-is-what-you-get {
//         background: transparent;
//         height: 1220px;
//     }
//     .h3-here-is-what-you-get {
//         @include fzFwLh(44px, 700, 44px);
//     }
//     .here-is-right-block-text {
//         @include gridColRow(1, 1);
//         text-align: center;
//     }
//     .sections-here-is {
//         max-width: 768px;
//         display: grid;
//     }
//     .here-is-left-block {
//         @include gridColRow(1, 2);
//         padding: 0;
//         margin: 0 auto;
//             &__box {
//                 grid-template-columns: (111px 550px);
//             }
//     }
//     .here-is-right-block-image {
//         margin-top: 70px;
//         grid-column: 1;
//         grid-row: 3 / span 4 ;
//         margin-left: 158px;
//         height: 511px;
//     }
// }
