.fork-subscription-pricing-section {
    height: auto;
    background-image: url('../img/people-are-talking/background-pricing-section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-color-talk;
    padding-bottom: 88px;
}

.section-title.margin {
    font-size: 28;
    padding-top: 88px;
}

.dollarSign {
    font-weight: normal;
}


.prices-container {
    font-family: $font-primary;
    margin-top: 61px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color-text;

    &__packages {
        margin: 0 auto;
        margin-bottom: 18px;
        @include wH(257px, 457px);
        @include grid(1fr, 0);
        grid-template-rows: 125px;
        background: rgba($color: #fff, $alpha: 0.11);
    }
    &__choosed {
        margin: 0 auto;
        background-color: rgba($color: #463048, $alpha: 0.84);
        margin-bottom: 18px;
        @include grid(1fr, 0);
        @include wH(299px, 560px);
            &__head {
                @include flex(center, center);
                text-transform: uppercase;
                background-color: rgba($color: #000000, $alpha: 0.11);
                height: 97px;
                @include fzFwLh(24px, 400);
            } 
                &__price {
                    @include fzFwLh(82px, 700, 120px);
                } 
                    &__purchaseBtn {
                        margin-top: 87px;
                        color: $color-text;
                        text-transform: uppercase;
                        @include fzFwLh(15px, 400);
                        border-radius: 40px;
                        @include wH(163px, 45px);
                        background-color: rgba($color: #fff, $alpha: 0.15);
                        &:hover {
                            border: 2px solid #8D81AC;
                            color: $button-text-color-hover;
                            background-color: $button-back-color-hover;
                            transition: 1.5s;
                            cursor: pointer;
                        }
                    }
    }
    &__head {
        @include flex(center, center);
        text-transform: uppercase;
        background: rgba($color: #fff, $alpha: 0.06);
        height: 97px;
        @include fzFwLh(24px, 400);
    }
    &__price {
        @include fzFwLh(60px, 700, 100px);
    }
    &__perMonth {
        text-transform: uppercase;
        @include fzFwLh(14px, 400);
            &::after {
                content: '';
                display: block;
                background-color: #8D81AC;
                @include wH(60px, 5px);
                top: 46px;
                margin: 0 auto; 
                position: relative;
            }
    }
    &__options {
        @include fzFwLh(16px, 400, 18px);
        padding-top: 91px;
    }
    &__purchaseBtn {
        margin-top: 42px;
        color: $color-text;
        text-transform: uppercase;
        @include fzFwLh(15px, 400);
        border-radius: 40px;
        @include wH (163px, 45px);
        background-color: rgba($color: #fff, $alpha: 0.15);
            &.plusMargin {
                position: relative;
                top: 17px;
            }
        &:hover {
            border: 2px solid #8D81AC;
            color: $button-text-color-hover;
            background-color: $button-back-color-hover;
            transition: 1.5s;
            cursor: pointer;
        }
    }
}


@media (min-width: 481px) {
    .fork-subscription-pricing-section {
        // height: 1100px;
    }
        .prices-container {
            @include grid (repeat(auto-fill, minmax(257px, auto)), 25px);
            margin: 0 auto;
            &__packages {
                justify-self: center;
                &:nth-child(1) {
                    justify-self: end;
                }
            }
        }
        .section-title.margin {
            font-size: 28px;
            padding-top: 14px;
            padding-bottom: 32px;
    }
}


@media (min-width: 993px) {
    .fork-subscription-pricing-section {
        height: auto;
    }
    .prices-container {
        max-width: 1170px;
        @include grid (repeat(auto-fill, minmax(257px, auto)), 25px);
        }
        .section-title.margin {
            font-size: 48px;
            padding-top: 50px;
            padding-bottom: 61px;
        }
    .section-title {
    @include fzFwLh(42px, unset, 44px);
    }
   
} 
