$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;
$font-btn: "Montserrat", sans-serif;

$background-color: #27262A;
$background-color-secondary: #010005;
$background-color-menu:#333333;
$background-color-talk: #4E3B4E;
$background-color-line:#645766;
$background-color-pricing: #4b3b4e;
$background-color-subtitle: #8D81AC;
$color-footer-text: #A291A5;
$color-text: white;
$color-border: #3B3B3B;
$color-header: #8D81AC;
$color-menu:#8D81AC;
$color-hover: white;
$button-text-color: white;
$button-text-color-hover: #8D81AC;
$button-back-color:#8D81AC;
$button-back-color-hover:white;
$color-text-content: #848E97;
$text-content-color: #323232;